<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <h1>Product Details</h1>
        <button id="fetchData">Fetch Products</button>
        <div id="dataResult"></div>
        <a href="index.html" class="back-btn"><button>Back</button></a>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/detail.js"></script>
</body>
</html>
